{% extends "base.html" %}
{% block title %}Volume create{% endblock %}
{% block breadcrumb %}Volume create{% endblock %}
{% block content %}
<h2>Volume create</h2>

作成するボリュームを設定してください。

<form action="{{ url_for('storage.createVolume') }}" method="POST" novalidate="novalidate">
{{ form.csrf_token }}
<p>
    {{ form.name.label }}
    {{ form.name(placeholder="volume name") }} 
    {% for error in form.name.errors %}
    <span style="color: red";>{{ error }}</span>
    {% endfor %}
</p>

<p>
    {{ form.storage_pool_uuid.label }}
    {{ form.storage_pool_uuid() }} 
</p>

<p>
    {{ form.capacity.label }}
    {{ form.capacity() }} GB
</p>

<p>
    {{ form.submit() }}
</p>
</form>

{% endblock %}