{% extends "auth/base.html" %}
{% block title %}Sign in{% endblock %}
{% block content %}

<form action="{{ url_for('auth.signin') }}" method="post" novalidate="novalidate" class="text-center card">
{{ form.csrf_token }}
<div class="card-body">
<h1 class="card-title">
    <img src="/static/wataame.png" alt="WataAme"/>
</h1>

<h2 class="card-title">
    Sign in
</h2>
{% for message in get_flashed_messages() %}
<p style="color:red;">{{ message }}</p>
{% endfor %}

<p class="card-text">
    {{ form.email.label }}
    {{ form.email(placeholder="email@example.com") }}
    {% for error in form.email.errors %}
    <span style="color:red;">{{ error }}</span>
    {% endfor %}
</p>

<p class="card-text">
    {{ form.password.label }}
    {{ form.password(placeholder="Your password") }}
    {% for error in form.password.errors %}
    <span style="color:red;">{{ error }}</span>
    {% endfor %}
</p>

<p class="card-text">{{ form.submit() }}</p>
<p class="card-text">
    アカウントをお持ちでない場合：<a href="{{ url_for('auth.signup') }}">新規登録</a>
</p>

</div>
</form>
{% endblock %}