<!--
Copyright 2020 [Themesberg](https://themesberg.com) (Crafty Dwarf LLC)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Dashboard</h2>

リソースのサマリー

<div class="row my-4">
    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Resource</h5>
            <div class="card-body">
              <h5 class="card-title">{{ rg.num }}</h5>
              <p class="card-text text-success">Latest: {{ rg.created_at }}</p>
            </div>
          </div>
    </div>
    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="card">
            <h5 class="card-header">Keypair</h5>
            <div class="card-body">
              <h5 class="card-title">{{ keypair.num }}</h5>
              <p class="card-text text-success">Latest: {{ keypair.created_at }}</p>
            </div>
          </div>
    </div>
    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="card">
            <h5 class="card-header">Compute</h5>
            <div class="card-body">
              <h5 class="card-title">{{ vm.num }}</h5>
              <p class="card-text text-success">Latest: {{ vm.created_at }}</p>
            </div>
          </div>
    </div>
    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="card">
            <h5 class="card-header">Network</h5>
            <div class="card-body">
              <h5 class="card-title">{{ network.num }}</h5>
              <p class="card-text text-success">Latest: {{network.created_at}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row my-4">
  <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <div class="card">
          <h5 class="card-header">Storage(volume)</h5>
          <div class="card-body">
            <h5 class="card-title">{{ volume.num }}</h5>
            <p class="card-text text-success">Latest: {{ volume.created_at }}</p>
          </div>
        </div>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
      <div class="card">
          <h5 class="card-header">Container</h5>
          <div class="card-body">
            <h5 class="card-title">{{ container.num }}</h5>
            <p class="card-text text-success">Latest: {{ container.created_at }}</p>
          </div>
        </div>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
      <div class="card">
          <h5 class="card-header">Serverless</h5>
          <div class="card-body">
            <h5 class="card-title">{{ serverless.num }}</h5>
            <p class="card-text text-success">Latest: {{ serverless.created_at }}</p>
          </div>
        </div>
  </div>
</div>

{% endblock %}